.team {
  list-style: none;
  margin: 4rem 0;
}

.team li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.team img {
  border-radius: 50%;
  margin-bottom: 2rem;
}

.about {
  max-width: 80%;
}
