.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  z-index: 1;
  width: 100%;
  background-color: #c8e0ff;
}

.menu img {
  max-height: 9rem;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.menu li {
  margin: 0.5rem 1rem;
}

.join {
  background-color: black !important;
  border-radius: 0.5rem !important;
  color: #9bc2f5;
  padding: 1rem 1.5rem;
  font-family: "Poppins", sans-serif !important;
  min-width: auto !important;
  margin: 0rem 0.5rem;
}

@media screen and (max-width: 1200px) {
  .menu {
    flex-direction: column;
  }
  .join {
    margin-top: 2rem;
  }
}
