@import url("https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap");

:root {
  --white: #fff;
  --blue: #16649b;
  --light: #8b8b8b;
  --dark: #323232;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Arsenal", sans-serif !important;
}

h1 {
  text-align: center;
  margin-bottom: 1.5vh !important;
}

h1,
h2 {
  color: var(--blue);
  text-transform: uppercase;
}

h3 {
  color: var(--dark);
}

p {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  text-align: justify;
  line-height: 30px;
  color: var(--dark);
}

small {
  color: var(--light);
}

input,
button {
  outline: none;
  font-family: "Arsenal", sans-serif !important;
  padding: 0.7rem;
  border: none;
}

input {
  background-color: #f8f8f8;
  color: var(--dark);
  border-radius: 10px;
  min-width: 320px;
  font-size: 1.1rem;
}

button {
  border-radius: 5px !important;
  color: var(--white);
  background-color: var(--blue);
  min-width: 130px;
}

strong {
  font-weight: 700;
  color: var(--blue);
  font-size: 1.2rem;
}

a {
  text-decoration: none !important;
}

a svg {
  color: var(--blue);
  font-size: 1.5rem;
}

.active a {
  font-weight: 700;
  color: var(--blue) !important;
}

.main-logo {
  background: url("/img/sofa.png");
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35vh;
}

section {
  padding: 7vh 0;
}

.bg-gray {
  background-color: #f8f8f8;
}
